<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.PetDao">

    <resultMap id="petMap" type="com.qfedu.vo.PetVo">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="price" property="price"></result>
        <result property="comment" column="comment"></result>
        <result column="city" property="city"></result>
        <result column="photo" property="photo"></result>
        <result column="type" property="type"></result>
        <result column="typename" property="typename"></result>
    </resultMap>
    <select id="findPet" resultMap="petMap">
       SELECT p.*,t.*,s.* from t_pet p,t_type t,t_shop s where p.type = t.typeid and p.shop=s.shopid;
    </select>

    <select id="findPetById" parameterType="int" resultMap="petMap">
        SELECT p.*,t.*,s.* from t_pet p,t_type t,t_shop s where p.type = t.typeid and p.shop=s.shopid and p.id = #{id}
    </select>

    <select id="findAroundPet" resultMap="petMap">
        select * from t_pet where t_pet.city  LIKE '%河南%'
    </select>
    <select id="findPetByPrice" parameterType="java.util.Map" resultMap="petMap">
        select * from t_pet
        <where>
            <if test="minprice=='0' and maxprice!='0'">
                t_pet.price &lt;= #{maxprice}
            </if>
            <if test="!minprice.equals('0') and !maxprice.equals('0')">
                and t_pet.price &gt;= #{minprice} and t_pet.price &lt;= #{maxprice}
            </if>
            <if test="!minprice.equals('0') and maxprice.equals('0')">
                and t_pet.price &gt;= #{minprice}
            </if>
        </where>
    </select>
</mapper>